.Header {
  padding-bottom: 1px;
  background-color: var(--header-blue);
  color: #fff;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.banner h1,
.banner h2 {
  font-weight: 300;
  font-size: 1.2em;
  flex-basis: 20%;
  text-align: right;
}

.banner .time {
  padding: 6px;
  border: 2px solid var(--dark-blue);
  border-radius: 3px;
  margin: 8px;
}
.banner .time p {
  display: inline-block;
  font-size: 0.6em;
  margin: 0 3px;
  padding: 0;
}
.banner .time div {
  display: inline-block;
}
.banner span {
  display: inline-block;
  height: 5px;
  width: 4px;
  border-radius: 4px;
  margin: 1.5px;
  background-color: #fb9709;
}
